/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: "Neucha";
  src: url("../fonts/Neucha-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}

:root {
  /* Цвета */
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --main-hover: #ea7600;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  /* Шрифты */
  --main-font: "Open Sans";
  --main-font-bold: "Open Sans Bold";
  --header-font: "Neucha";
  --font-size: 16px;
  --font-line-height: 1.6em;
  --text-color: #2a2626;
  /* Заголовки */
  --header-line-height: 1.2em;
  --h1-size: 72px;
  --h2-size: 60px;
  --h3-size: 34px;
  /* Секции */
  --max-content-width: 1110px
}

/* Стили браузера  */
a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

button, input {
  border: none;
  padding: 0;
}

/* Для всех элементов */

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
  font-size: var(--font-size);
  font-family: var(--main-font);
  line-height: var(--font-line-height);
  font-weight: 400;
}

h1,
h2,
h3 {
  z-index: 1;
  font-family: var(--header-font);
  font-weight: 400;
  line-height: var(--header-line-height);
  color: var(--main);
}

.background {
  position: relative;
}

.background-ligth {
  background-color: var(--light);
}

.background-dark {
  background-color: var(--brown);
  color: var(--white);
}

.background::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("/public/static/background.png");

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.container {
  position: relative;
  width: 1110px;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 100px 0;
}

.text-columns {
  display: flex;
  flex-direction: row;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.text-block {
  flex-basis: 50%;
}

.text-block:nth-child(1) {
  margin-right: 30px;
}

.dark-text {
  color: var(--dark);
}

.white-text {
  color: var(--white);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

p {
  line-height: var(--font-line-height);
}

.btn {
  display: inline-block;
  padding: 11px 24px;
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--main);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--main-hover);
}

/* Заголовок */

.header-img {
  position: absolute;
  top: 55px;
  right: -270px;
}

header .container {
  justify-content: space-between;
  height: 100vh;
  min-height: 900px;
}

header .btn {
  margin-top: 40px;
}

/* Видео секция */

main .section-video {
  height: 805px;
  background-color: var(--white);
}

.section-video .container {
  align-items: center;
}

.section-video h2 {
  text-align: center;
}

.section-video p {
  margin: 30px auto;
}

.video {
  margin-bottom: -200px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* Навигация */

#navigation {
  background-color: var(--main-dark);
}

#navigation .container {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 200px;
}

[class*="card"] {
  width: 350px;
  margin-right: 30px;
}

.card-heading h2 {
  font-size: 52px;
}

.card {
  padding: 24px;
  box-sizing: border-box;
  background-color: var(--light);
}

.card:nth-child(3n) {
  margin-right: 0;
}

.card:nth-child(n + 4) {
  margin-top: 20px;
}

.number {
  display: inline-block;
  font-size: 64px;
  line-height: 1;
  font-family: var(--header-font);
  margin-bottom: 40px;
}

.card h3 {
  margin-bottom: 16px;
}

.card:hover {
  background-color: var(--main);
}

.card:hover > h3 {
  color: var(--white);
}

/* Основные секции */

.name-block {
  display: flex;
}

.left-img {
  margin-right: 30px;
  vertical-align: middle;
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.right-img {
  margin-left: 30px;
  vertical-align: middle;
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.title {
  font-size: 24px;
  font-family: var(--header-font);
}

.background-ligth .title {
  color: var(--translucent-dark);
}

.background-dark .title {
  color: var(--translucent-white);
}

.description {
  margin-top: 30px;
  font-size: 34px;
  font-family: var(--header-font);
  line-height: var(--header-line-height);
}

.header-background {
  padding: 5px 10px;
  margin: 100px 0 20px 0;
}

.header-background h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--main-font-bold);
  line-height: var(--header-line-height);
}

.background-ligth .header-background {
  color: var(--white);
  background-color: var(--brown);
}

.background-dark .header-background {
  color: var(--brown);
  background-color: var(--white);
}

.indent {
  margin: 1em 0;
}

/* Подвал */

.subscribe-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-dark);
  height: 190px;
  color: var(--white);
  padding: 0 55px;
}

.subscribe-text {
  font-size: 34px;
  font-family: var(--header-font);
  line-height: var(--header-line-height);
}

.email-block {
  box-sizing: border-box;
  width: 50%;
  padding-left: 15px;
}

.email-text {
  font-size: 18px;
  margin-bottom: 9px;
}

.subscribe-form {
  display: flex;
  width: 100%;
}

.subscribe-form input {
  height: 50px;
  flex-grow: 2;
  padding-left: 15px;
}

.subscribe-form .btn {
  width: 70px;
  height: 50px;
}

.subscribe-form .btn::before {
  display: block;

  width: 24px;
  height: 24px;

  background-image: url(/public/static/send.svg);

  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

.subscribe-notice {
  font-size: 12px;
  margin-top: 3px;
}

.subscribe-notice a {
  text-decoration: underline;
}

.copyright {
  margin-top: 76px;
  font-size: 14px;
  text-align: center;
}

.copyright p {
  margin-bottom: 16px;
}

.copyright a {
  color: var(--blue);
  text-decoration: underline;
}